{% extends 'app_wagntails/base.html' %}
{% load static %}
{% block content %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Update Location</h5>
                            </div>
                            <div class="card-block">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="fieldWrapper">
                                        <label for="{{ form.name.id_for_label }}">Name :</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="{{ form.street1.id_for_label }}">Stree 1:</label>
                                        {{ form.street1 }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="{{ form.street2.id_for_label }}">Street 2:</label>
                                        {{ form.street2 }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="{{ form.city.id_for_label }}">City :</label>
                                        {{ form.city }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="{{ form.state.id_for_label }}">State :</label>
                                        {{ form.state }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="{{ form.country.id_for_label }}">Country :</label>
                                        {{ form.country }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="{{ form.postal_code.id_for_label }}">Postal Code:</label>
                                        {{ form.postal_code }}
                                    </div>
                                    <hr>
                                    <input type="submit" name="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
                <div class="row">
                    <div class="col-md">
                        <div class="card card-body">
                            <table class="table table-sm">
                                <tr>
                                    <th>Name</th>
                                    <th>Street 1</th>
                                    <th>Street 2</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                </tr>

                                {% for location in locations %}
                                <tr>
                                    <td>{{location.name}}</td>
                                    <td>{{location.street1}}</td>
                                    <td>{{location.street2}}</td>
                                    <td>{{location.city}}</td>
                                    <td>{{location.state}}</td>
                                    <td>{{location.postal_code}}</td>
                                    <td><a class="btn btn-sm btn-info" href="{% url 'update-location' location.id owner.id %}" target="_blank">Update</a></td>
                                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete-location' location.id owner.id %}" target="_blank">Delete</a></td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}