{% extends 'app_wagntails/base.html' %}
{% block content %}

<!-- <br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
          

        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Owner:</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'account' %}">Update Owner</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_dog' owner.id %}">Add Dog</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'volunteers' owner.id %}">Lookup
                Volunteers</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'dogs' owner.id %}">Lookup Dogs</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'date-location' owner.id %}">Add Location</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{owner.email}}</p>
            <p>Phone: {{owner.phone}}</p>
        </div>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Dogs</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Dog</th>
                    <th>Owner</th>
                    <th>Breed</th>
                    <th>Status</th>
                    <th>Note</th>
                </tr>

                {% for i in dogs %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{owner}}</td>
                    <td>{{i.breed}}</td>
                    <td>{{i.status}}</td>
                    <td>{{i.note}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div> -->
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Account Settings</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Dogs</h5>
                            </div>
                            <div class="card-block">
                                <table class="table">
                                    <tr>
                                        <th>Dog</th>
                                        <th>Owner</th>
                                        <th>Breed</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                    </tr>

                                    {% for i in dogs %}
                                    <tr>
                                        <td>{{i.name}}</td>
                                        <td>{{owner}}</td>
                                        <td>{{i.breed}}</td>
                                        <td>{{i.status}}</td>
                                        <td>{{i.note}}</td>
                                    </tr>
                                    {% endfor %}

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}