{% extends 'app_wagntails/owner_main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
            <!--<img class="profile-pic" src="{{request.user.owner.profile_pic.url}}">-->
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Owner:</h5>
            <hr>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'account' %}">Update Owner</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_dog' owner.id %}">Add Dog</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'volunteers' owner.id %}">Lookup
                Volunteers</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'dogs' owner.id %}">Lookup Dogs</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'date-location' owner.id %}">Add Location</a>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'chats' %}">Chat</a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>Contact Information</h5>
            <hr>
            <p>Email: {{owner.email}}</p>
            <p>Phone: {{owner.phone}}</p>
        </div>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Dog</th>
                    <th>Breed</th>
                    <th>Status</th>
                    <th>Note</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for dog in dogs %}
                <tr>
                    <td>{{dog.name}}</td>
                    <td>{{dog.breed}}</td>
                    <td>{{dog.status}}</td>
                    <td>{{dog.note}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_dog' dog.id %}">Update</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_dog' dog.id %}">Delete</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}