<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-dogs">
                <div class="card-header">
                    <h5 class="card-title">Total Dogs</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_dogs}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-sheltered">
                <div class="card-header">
                    <h5 class="card-title">Dogs Sheltered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{sheltered}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="dogs-forwalk">
                <div class="card-header">
                    <h5 class="card-title">Dogs For Walk</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{forwalk}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>